@import 'flatpickr/dist/flatpickr.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

.event_calendar {
    width: 800px;
}
.login-bg {
    background-image: url(images/Appロゴ/bg2.png);
    background-position: center center; 
    background-repeat: no-repeat;  
    background-attachment: fixed; 
    background-size: cover;
}

